@page "/customer"
@using Mc2.Application.Common.Dto;
@using Mc2.CrudTest.Presentation.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecast)
            {
                <tr>
                @*    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>*@
                    <td>@forecast.FirstName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private RequestGetAllCustomerDto[]? forecast;

    protected override async Task OnInitializedAsync()
    {
        forecast = await Http.GetFromJsonAsync<RequestGetAllCustomerDto[]>("RequestGetAllCustomerDto");
    }
}
